bin/
obj/
.vs/
packages/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.log
*.bak
*.tmp
*.swp
*.vspscc
*.vssscc
*.gpState
*.sln.docstates
*.sln.ide/
*.pidb
*.userprefs
*.csproj.user
*.vbproj.user
*.fsproj.user
*.vcxproj.user
*.vcxitems.user
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
appsettings.json
secrets.json